<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	
		<ui:composition template="/templates/templateEditar.xhtml">
		<ui:define name="tituloPagina">
		Excluir Funcionalidades
		</ui:define>
		<ui:define name="camposFormulario">
		<fieldset>
		<legend>Campos da Funcionalidade</legend>
			<h:outputLabel for="nomedaFuncionalidade">
				Nome da Funcionalidade :
			</h:outputLabel>
			<h:inputText id="nomedaFuncionalidade" readonly="true" value="#{excluirFuncionalidadesMB.funcionalidadesExcluida.nomeFuncionalidade}" maxlength="80" alt="Nome da Funcionalidade"/>
			<br/>
			<h:outputLabel for="descricao">
				Descrição : 
			</h:outputLabel>
			<h:inputTextarea value="#{excluirFuncionalidadesMB.funcionalidadesExcluida.descricaoFuncionalidade}" readonly="true"  rows="3">
			</h:inputTextarea>
		</fieldset>
		</ui:define>
		<ui:define name="camposOperacoes">
			<h:commandButton action="#{excluirFuncionalidadesMB.deletar}" value="Excluir" />
			<h:commandButton action="#{excluirFuncionalidadesMB.cancelar}" value="Cancelar" />		
		</ui:define>
		
		 
   
		</ui:composition>
	</html>