body{
	font-family: Arial;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.principal{
	width: 800px;
}

.topo{
	background-image: url( imagens/logo.jpg );
	width: 800px;
	height: 126px;
}

.conteudo{
	width: 524px;
	float: left;
	padding-left: 10px
}

.barra_direita{	
	height: 400px;
	background-image: url( imagens/exercicio1_r3_c9.jpg );
	background-repeat: no-repeat;
	background-position: top center;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	margin-top: 10px;
	padding: 50px 0 0 0;
	text-align: center;
}

.tarifas{
	padding: 5px;
}