<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<head>
<title><ui:insert name="pageTitle">Sistema GerPro7v3</ui:insert>

</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<ui:insert name="css">
	<link
		href="#{facesContext.externalContext.requestContextPath}/css/principal.css"
		rel="stylesheet" type="text/css" />
</ui:insert>
</head>

<body bgcolor="#DFEBFF">
<f:view>
	<div class="pagina">
	<div class="topo1" id="topo"></div>
	<div class="header">
		<div class="imagemEsq">
			<div class="nomeSistema">GerPro7-v3</div>
			<div class="nomeSistemaCompleto">Sistema de Gerenciamento de
			Projetos da Fa7</div>
		</div>
		<div class="imagemDir">
		<ui:insert name="login"></ui:insert>
		</div>
	</div>

	<div class="menu"><ui:insert name="menu">
		<h:form>
			<rich:toolBar>
				<rich:dropDownMenu>
					<f:facet name="label">
						<h:panelGroup>
							<h:outputText value="Tabelas de Apoio" />
						</h:panelGroup>
					</f:facet>
					<rich:menuItem value="Manter Caso de Uso"
						action="#{principal.iniciarManterCasoUso}">
					</rich:menuItem>
					<rich:menuItem value="Manter Cursos"
						action="#{principal.inciarCursos}" />
					<rich:menuItem value="Manter Complexidade de Caso de Uso"
						action="#{principal.iniciarMarterComplexidadeUC}" />
					<rich:menuItem value="Manter Funcionalidades"
						action="#{principal.iniciarManterFuncionalidades}" />
					<rich:menuItem value="Manter Perfis"
						action="#{principal.inciarManterPerfil}" />
					<rich:menuItem value="Manter Status Projeto"
						action="#{principal.iniciarManterStatusProjeto}" />
					<rich:menuItem value="Manter Status do Sistema"
						action="#{principal.iniciarManterStatusSistema}" />
				</rich:dropDownMenu>
			</rich:toolBar>
		</h:form>
	</ui:insert></div>
	<div class="corpo"><rich:messages layout="list" tooltip="true"
		showDetail="false" showSummary="true" passedLabel="Nenhum erro"
		errorLabelClass="errorLabel" fatalLabelClass="warnLabel"
		infoLabelClass="infoLabel" warnLabelClass="fatalLabel"
		warnMarkerClass="markerWarn" infoMarkerClass="markerInfo"
		errorMarkerClass="markerError" fatalMarkerClass="markerFatal"
		errorClass="errorClass" fatalClass="errorClass" warnClass="warnClass"
		infoClass="infoClass" labelClass="labelClass" styleClass="class">
		<f:facet name="errorMarker">
			<h:graphicImage url="/imagens/mensagem/error.gif" />
		</f:facet>
		<f:facet name="fatalMarker">
			<h:graphicImage url="/imagens/mensagem/fatal.gif" />
		</f:facet>
		<f:facet name="infoMarker">
			<h:graphicImage url="/imagens/mensagem/passed.gif" />
		</f:facet>
		<f:facet name="warnMarker">
			<h:graphicImage url="/imagens/mensagem/ic_aviso.gif" />
		</f:facet>
		<f:facet name="passedMarker">
			<h:graphicImage url="/imagens/mensagem/passed.gif" />
		</f:facet>
	</rich:messages> <ui:insert name="body">Page Body</ui:insert></div>
	<div class="bottom"></div>
	</div>
</f:view>

</body>

</html>



