<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<ui:define name="body">
		<h:form>
			<rich:panel>
				<f:facet name="header">
				<rich:toolBar>
						<h:graphicImage value="/imagens/seta_2.png" />
						<ui:insert name="tituloPagina">Editar ...</ui:insert>
				</rich:toolBar>
				
					
				</f:facet>
				<div id="divCampos"><ui:insert name="camposFormulario"></ui:insert>
				</div>
				<div id="divBotoes"><ui:insert name="camposOperacoes"></ui:insert>
				</div>

			</rich:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>