<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	
		<ui:composition template="/templates/templateEditar.xhtml">
		<ui:define name="tituloPagina">
		Editar Complexidade de Caso de Uso
		</ui:define>
		<ui:define name="camposFormulario">
		<fieldset>
		<legend>Campos da Complexidade de Caso de Uso</legend>
			<h:outputLabel for="nomedaFuncionalidade">
				Nome da Complexidade de Caso de Uso
			</h:outputLabel>
			<h:inputText id="nomedaComplexidadeUC"  value="#{editarComplexidadeUCMB.complexidadeUCEdit.nome}" maxlength="80" alt="Nome da Funcionalidade"/>
			<br/>
			<h:outputLabel for="descricao">
				Descrição
			</h:outputLabel>
			<h:inputTextarea value="#{editarComplexidadeUCMB.complexidadeUCEdit.descricao}" required="true" rows="3">
			<f:validateLength maximum="250"/>
			</h:inputTextarea>
		</fieldset>
		</ui:define>
		<ui:define name="camposOperacoes">
			<h:commandButton action="#{editarComplexidadeUCMB.save}" value="Salvar" />
			<h:commandButton action="#{editarComplexidadeUCMB.cancelar}" value="Cancelar" immediate="true" />		
		</ui:define>
		
		 
   
		</ui:composition>
	</html>