<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<ui:define name="pageTitle">Listagem das Complexidades de Caso de Uso</ui:define>
	<ui:define name="body">
		<form jsfc="h:form" id="Form"><rich:panel>
			<f:facet name="header">
        		Listagem das Complexidades de Caso de Uso
        </f:facet>
			<h:commandButton value="Novo" action="#{listaComplexidadeUCMB.prepareNew}"/>
			<rich:datascroller align="center" for="listaComplexidadeUC" maxPages="20"
				page="" reRender="sc2" id="sc1" />
			<rich:spacer height="30" />
			
			<rich:dataTable align="center" width="483" id="listaComplexidadeUC" rows="10" 
				columnClasses="col" value="#{listaComplexidadeUCMB.lista}"
				var="corrente">
				<f:facet name="header">
					<rich:columnGroup>
						<h:column>
							<h:outputText styleClass="headerText" value="Editar" />
						</h:column>
						<h:column>
							<h:outputText styleClass="headerText" value="Excluir" />
						</h:column>
						<h:column>
							<h:outputText styleClass="headerText" value="ID" />
						</h:column>
						<h:column>
							<h:outputText styleClass="headerText" value="Nome da Complexidade de Caso de Uso" />
						</h:column>
					</rich:columnGroup>
				</f:facet>
				
				<h:column>
					<h:commandButton  alt="Editar" image="../imagens/bt_editar.gif"	action="#{listaComplexidadeUCMB.prepareEdit}">
						<f:setPropertyActionListener value="#{corrente}" target="#{listaComplexidadeUCMB.complexidadeUCSelecionado}" />
					</h:commandButton>
				</h:column>
				<h:column>
					<h:commandButton alt="Excluir" image="../imagens/bt_excluir.gif" action="#{listaComplexidadeUCMB.prepararExcluir}">
						<f:setPropertyActionListener value="#{corrente}" target="#{listaComplexidadeUCMB.complexidadeUCSelecionado}" />
					</h:commandButton>
				</h:column>

				<h:column>
					<h:outputText value="#{corrente.idComplexidadeUc}" />
				</h:column>
				<h:column>
					<h:outputText value="#{corrente.nome}" />
				</h:column>
						


			</rich:dataTable>
			<rich:datascroller align="center" for="listaComplexidadeUC" maxPages="20"
				page="" id="sc2" reRender="sc1" />

		</rich:panel></form>
	</ui:define>
</ui:composition>
</html>