.pagina {
	width: 924px;
	margin: auto;
	border: 1px outset;
}

.topo1 {
	color: #FFFFFF;
	height: 14px;
	width: 100%;
	background-color: #0165AB;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}

.header {
	background-image: url(../imagens/moldura_meio.png);
	height: 100px;
	width: 100%;
	background-repeat: repeat;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.imagemEsq {
	background-image: url(../imagens/top_esq.png);
	border: 0px 0;
	height: 100%;
	width: 416px;
	float: left;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
}

.imagemDir {
	background-image: url(../imagens/top_dir.png);
	border: 0px 0;
	height: 100%;
	width: 417px;
	float: right;
	background-repeat: no-repeat;
	background-position: right;
	margin: 0px;
	padding: 0px;
}

.menu {
	border-top-width: medium;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	height: 25px;
	width: 100%;
	background-color: #0165AB;
}

.corpo {
	border-top-width: medium;
	border-top-style: solid;
	border-top-color: #FF0000;
	background-color: #FFFFFF;
	height: 400px;
	width: 100%;
	overflow: auto;
}

.bottom {
	background-color: #FFFFFF;
	border-top-width: thick;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #FF0000;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	height: 10px;
	width: 100%;
}

.nomeSistema {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 50px;
	font-weight: normal;
	text-align: right;
	word-spacing: 10em;
	font-variant: normal;
	font-style: normal;
	top: 180px;
	width: 100%;
	padding-top: 10px;
}

.nomeSistemaCompleto {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bolder;
	text-align: right;
}

.errorClass {
	background-color: #FFDDDD;
	border: thin solid #FF7575;
	padding: 2px;
	background-image: url("/sgerpro7v3/WebContent/imagens/seta_2.png")
}

.warnClass {
	background-color: #FFFFB9;
	border: thin solid #FFCC00;
	padding: 2px;
}

.infoClass {
	background-color: #B6E9C2;
	border: thin solid #006600;
	padding: 2px;
}

.errorLabel {
	color: #000000;
}

.warnLabel {
	color: #000000;
}

.infoLabel {
	color: #000000;
}

.fatalLabel {
	color: #000000;
}
