.topo1 {
	color: #FFFFFF;
	height: 14px;
	width: 100%;
	background-color: #0165AB;
	border-bottom-width: 4px;
	border-bottom-style: double;
	border-bottom-color: #FFFFFF;

}
.header {
	background-image: url(imagens/moldura_meio.png);
	height: 135px;
	width: 100%;
	background-repeat: repeat;
	margin: 0px;
	padding: 0px;
	border: 0px;


}
.imagemEsq {
	background-image: url(imagens/top_esq.png);
	border: 0px 0;
	height: 100%;
	width: 416px;
	float: left;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;



}
.imagemDir {
	background-image: url(imagens/top_dir.png);
	border: 0px 0;
	height: 100%;
	width: 417px;
	float: right;
	background-repeat: no-repeat;
	background-position: right;
	margin: 0px;
	padding: 0px;

}
.corpo {
	background-color: #FFFFFF;
	height: 300px;
	width: 100%;
	border: 1px dotted;
}
.bottom {
	background-color: #FFFFFF;
	border-top-width: thick;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #FF0000;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	height: 40px;
	width: 100%;
}
.menu {
	border-top-width: medium;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	height: 25px;
	width: 100%;
	background-color: #006699;
}
.pagina {
	width: 1024px;
}
.nomeSistema {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 50px;
	font-weight: normal;
	text-align: right;
	word-spacing: 10em;
	font-variant: normal;
	font-style: normal;
	top: 200px;
	width: 100%;
	padding-top: 30px;




}
.nomeSistemaCompleto {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bolder;
	text-align: right;

}
