<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/templateEditar.xhtml">

	<ui:define name="tituloPagina">
		Editar Status do Projeto
	</ui:define>
	<ui:define name="camposFormulario">
		<fieldset><legend>Campos do Status do Projeto</legend> <h:outputLabel
			for="nomeStatusProjeto">
				Nome do Status do Projeto*:
			 <h:inputText id="nomeStatusProjeto" value="#{editarStatusProjeto.statusProjetoEditado.nomeProjeto}"
				maxlength="80" required="true" alt="Nome do Status do Projeto" 
				requiredMessage="Nome do Campo deve ser informado"/>
		
		</h:outputLabel> <br />
		<h:outputLabel for="descricaoStatusProjeto">
				Descrição*
			 <h:inputTextarea id="descricaoStatusProjeto" required="true"
				rows="3" label="Este campo contem a descricao do Status do Projeto"
				value="#{editarStatusProjeto.statusProjetoEditado.descricao}"
				requiredMessage="Campo descrição deve ser informado">
				<f:validateLength maximum="250" />
			</h:inputTextarea>
		</h:outputLabel> <br />
		</fieldset>
	</ui:define>
	<ui:define name="camposOperacoes">
		<h:commandButton action="#{editarStatusProjeto.salvar}" value="Salvar" />
		<h:commandButton action="#{editarStatusProjeto.cancelar}" value="Cancelar" />
	</ui:define>

</ui:composition>

</html>