<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/templateEditar.xhtml">

	<ui:define name="tituloPagina">
		Excluir Status do Projeto
	</ui:define>
	<ui:define name="camposFormulario">
		<fieldset><legend>Campos do Status do Projeto</legend> <h:outputLabel
			for="nomeStatusProjeto">
				Nome do caso de uso:
			 <h:inputText id="nomeStatusProjeto" value="Status Projeto 1"
				maxlength="80" required="true" alt="Nome do Status Projeto"
				readonly="true" />
		</h:outputLabel> <br />
		<h:outputLabel for="descricaoStatusProjeto">
				Descrição:
			 <h:inputTextarea id="descricaoStatusProjeto" required="true"
				rows="3" label="Este campo contém a descrição do Status Projeto"
				readonly="true">
			</h:inputTextarea>
		</h:outputLabel> <br />
		</fieldset>
	</ui:define>
	<ui:define name="camposOperacoes">
		<h:commandButton action="listarStatusProjeto" value="Excluir" />
		<h:commandButton action="listarStatusProjeto" value="Cancelar" />
	</ui:define>

</ui:composition>

</html>