<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<ui:define name="pageTitle">Listagem de Complexidade do Sistema</ui:define>
	<ui:define name="pageHeader">Header</ui:define>
	<ui:define name="body">
		<form jsfc="h:form" id="Form"><rich:panel>
			<f:facet name="header">
               Listagem de Status do Projeto
        </f:facet>
			 <h:commandButton value="Novo" action="#{listaStatusProjeto.prepararNovo}" />
			<rich:datascroller align="center" for="listastatusProjeto" maxPages="20"
				page="" reRender="sc2" id="sc1" />
			<rich:spacer height="20" />
			<rich:dataTable align="center" width="483" id="listastatusProjeto" rows="10" 
				columnClasses="col" value="#{listaStatusProjeto.lista}"
				var="objetoCorrente">
				<f:facet name="header">
					<rich:columnGroup>
						<h:column>
							<h:outputText styleClass="headerText" value="Editar" />
						</h:column>
						<h:column>
							<h:outputText styleClass="headerText" value="Excluir" />
						</h:column>
						<h:column>
							<h:outputText styleClass="headerText" value="ID" />
						</h:column>
						<h:column>
							<h:outputText styleClass="headerText" value="Nome do Status do Projeto" />
						</h:column>
					</rich:columnGroup>
				</f:facet>
				<h:column>
					<h:commandButton value="Editar" action="editarStatusProjeto" />
				</h:column>
				<h:column>
					<h:commandButton value="Excluir" action="excluirStatusProjeto" />
				</h:column>
				<h:column>
					<h:outputText value="#{objetoCorrente.idStatusProjeto}" />
				</h:column>
				<h:column>
					<h:outputText value="#{objetoCorrente.nomeProjeto}" />
				</h:column>
				

			</rich:dataTable>
			<rich:datascroller align="center" for="listastatusProjeto" maxPages="20"
				page="" id="sc2" reRender="sc1" />

		</rich:panel></form>
	</ui:define>
</ui:composition>
</html>