<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/templateEditar.xhtml">

	<ui:define name="tituloPagina">
		Editar Status do Sistema
	</ui:define>
	<ui:define name="camposFormulario">
		<fieldset><legend>Campos do Status do Sistema</legend> <h:outputLabel
			for="nomeStatusProjeto">
				*Nome do Status do Sistema:
			 <h:inputText id="nomeStatusSistema" required="true" rows="3"
			    value="#{editarStatusSistema.statusSistemaEditado.nomeSistema}"
			    label="Este campo contém a descrição do status do sistema"
				alt="Nome do Status do Sistema" 
				requiredMessage="Nome do Campo deve ser informado"
				validatorMessage="Campo deve ser informado com no máximo 80 caracteres"
				/>
		    </h:outputLabel> <br />
			<h:outputLabel for="descricaoStatusSistema">
				Descrição*
			 <h:inputTextarea id="descricaoStatusSistema" required="true"
				rows="3" label="Este campo contem a descricao do Status do Sistema"
				value="#{editarStatusSistema.statusSistemaEditado.descricao}"
				requiredMessage="Campo descrição deve ser informado"
				>
				<f:validateLength maximum="250" />
			</h:inputTextarea>
		</h:outputLabel> <br />
		</fieldset>
	</ui:define>
	<ui:define name="camposOperacoes">
		<h:commandButton action="#{editarStatusSistema.salvar}" value="Salvar" />
		<h:commandButton action="#{editarStatusSistema.cancelar}" value="Cancelar" immediate="true" />
	</ui:define>

</ui:composition>

</html>