<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/templateEditar.xhtml">

	<ui:define name="tituloPagina">
		Excluir Status do Sistema
	</ui:define>
	<ui:define name="camposFormulario">
		<fieldset><legend>Campos do Status do Sistema</legend> <h:outputLabel
			for="nomeStatusSistema">
				Nome do caso de uso:
			 <h:inputText id="nomeStatusSistema" value="#{excluirStatusSistema.statusSistemaEditado.nomeSistema}"
				maxlength="80" required="true" alt="Nome do Status Sistema"
				readonly="true" />
		</h:outputLabel> <br />
		<h:outputLabel for="descricaoStatusSistema">
				Descricao:
			 <h:inputTextarea id="descricaoStatusSistema" required="true"
				rows="3" label="Este campo contem a descricao do Status Sistema"
				readonly="true"
				value="#{excluirStatusSistema.statusSistemaEditado.descricao}" >
			</h:inputTextarea>
		</h:outputLabel> <br />
		</fieldset>
	</ui:define>
	<ui:define name="camposOperacoes">
		<h:commandButton action="#{excluirStatusSistema.excluir}" value="Excluir" />
		<h:commandButton action="listaStatusSistema" value="Cancelar" />
	</ui:define>

</ui:composition>

</html>