<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/templateEditar.xhtml">

	<ui:define name="tituloPagina">
		Editar Caso de Uso
	</ui:define>
	<ui:define name="camposFormulario">
		<fieldset><legend>Campos do Caso de Uso</legend> <h:outputLabel
			for="nomeCasoUso" >
				*Nome do caso de uso:
			 <h:inputText id="nomeCasoUso"
				value="#{editarCasoUso.casoUsoEditado.nome}" maxlength="80"
				required="true" alt="Nome do caso de uso" 
				requiredMessage="Campo NOME deve ser informado com no máximo 80 caracteres"
				validatorMessage="Campo NOME deve ser informado com no máximo 80 caracteres"
				/>
		</h:outputLabel> <br />
		<h:outputLabel for="descricaoCasoUso">
				*Descrição:
			 <h:inputTextarea id="descricaoCasoUso" required="true" rows="3"
				value="#{editarCasoUso.casoUsoEditado.descricao}"
				label="Este campo contém a descrição do caso de uso"
				requiredMessage="Campo DESCRIÇÃO deve ser informado com no máximo 80 caracteres"
				validatorMessage="Campo DESCRIÇÃO deve ser informado com no máximo 80 caracteres"
				>
				<f:validateLength maximum="250" />
			</h:inputTextarea>
		</h:outputLabel> <br />
		<h:outputLabel for="listaComplexidade">
				*Complexidade
			 <h:selectOneMenu id="listaComplexidade" 
				value="#{editarCasoUso.casoUsoEditado.complexidadeuc}"
				required="true"
				requiredMessage="Deve ser selecionada uma complexidade"
				>
				
				<f:selectItems value="#{editarCasoUso.listaComplexidadeUC}" />
			</h:selectOneMenu>
		</h:outputLabel></fieldset>
	</ui:define>
	<ui:define name="camposOperacoes">
		<h:commandButton action="#{editarCasoUso.salvar}" value="Salvar" />
		<h:commandButton action="#{editarCasoUso.cancelar}" value="Cancelar" immediate="true" />
	</ui:define>

</ui:composition>

</html>