<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/templateEditar.xhtml">

	<ui:define name="tituloPagina">
		Excluir Caso de Uso
	</ui:define>
	<ui:define name="camposFormulario">
		<fieldset><legend>Campos do Caso de Uso</legend> <h:outputLabel
			for="nomeCasoUso">
				Nome do caso de uso:
			 <h:inputText id="nomeCasoUso" value="#{excluirCasoUso.casoUsoEditado.nome}" maxlength="80"
				required="true" alt="Nome do caso de uso" readonly="true"/>
		</h:outputLabel> <br />
		<h:outputLabel for="descricaoCasoUso">
				Descrição:
			 <h:inputTextarea id="descricaoCasoUso" required="true" rows="3"
				label="Este campo contém a descrição do caso de uso" readonly="true"
				value="#{excluirCasoUso.casoUsoEditado.descricao}"
				>
			</h:inputTextarea>
		</h:outputLabel> <br />
		<!--  
		<h:outputLabel for="listaComplexidade">
				Complexidade
			 <h:selectOneListbox id="listaComplexidade" required="true"
			 readonly="true">
				<f:selectItem itemLabel="Simples" itemValue="Simples" />
				<f:selectItem itemLabel="Complexo" itemValue="Complexo" />
			</h:selectOneListbox>
		</h:outputLabel>
		-->
		</fieldset>
	</ui:define>
	<ui:define name="camposOperacoes">
		<h:commandButton action="#{excluirCasoUso.excluir}" value="Excluir"/>
		<h:commandButton action="listaCasosUso" value="Cancelar"/>
	</ui:define>

</ui:composition>

</html>