<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/common.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<ui:define name="pageTitle">Listagem de Casos de Uso</ui:define>
	<ui:define name="body">
		<form jsfc="h:form" id="Form"><rich:panel style="height: 100%;">
			<f:facet name="header">
				<rich:toolBar>
						<h:graphicImage value="/imagens/seta_2.png" />
						<h:outputText value="Listagem de Casos de Uso" />
				</rich:toolBar>
				
        </f:facet>
			<h:commandButton value="Novo"
				action="#{listaCasosUsoMB.prepararNovo}" />
			<rich:datascroller align="center" for="listaCasoUso" maxPages="20"
				page="" reRender="sc2" id="sc1" />
			<rich:spacer height="30" />

			<rich:dataTable align="center" width="483" id="listaCasoUso"
				rows="10" columnClasses="col" value="#{listaCasosUsoMB.lista}"
				var="corrente">
				<f:facet name="header">
					<rich:columnGroup>
						<h:column>
							<h:outputText styleClass="headerText" value="Editar" />
						</h:column>
						<h:column>
							<h:outputText styleClass="headerText" value="Excluir" />
						</h:column>
						<h:column>
							<h:outputText styleClass="headerText" value="ID" />
						</h:column>
						<h:column>
							<h:outputText styleClass="headerText" value="Nome do Caso de Uso" />
						</h:column>
						<h:column>
							<h:outputText styleClass="headerText" value="Complexidade" />
						</h:column>
					</rich:columnGroup>
				</f:facet>

				<h:column>
					<h:commandButton alt="Editar" image="/imagens/bt_editar.gif"
						action="#{listaCasosUsoMB.prepararEditar}">
						<f:setPropertyActionListener value="#{corrente}"
							target="#{listaCasosUsoMB.casoUsoSelecionado}" />
					</h:commandButton>
				</h:column>
				<h:column>
					<h:commandButton alt="Excluir" image="/imagens/bt_excluir.gif"
						action="#{listaCasosUsoMB.prepararExcluir}" >
						<f:setPropertyActionListener value="#{corrente}"
							target="#{listaCasosUsoMB.casoUsoSelecionado}" />
					</h:commandButton>	
				</h:column>

				<h:column>
					<h:outputText value="#{corrente.idCasoUso}" />
				</h:column>
				<h:column>
					<h:outputText value="#{corrente.nome}" />
				</h:column>
				<h:column>
					<h:outputText value="#{corrente.complexidadeuc.nome}" />
				</h:column>

			</rich:dataTable>
			<rich:datascroller align="center" for="listaCasoUso" maxPages="20"
				page="" id="sc2" reRender="sc1" />

		</rich:panel></form>
	</ui:define>
</ui:composition>
</html>