<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition template="/templates/templateEditar.xhtml">
	<ui:define name="tituloPagina">Editar Perfis</ui:define>
	<ui:define name="camposFormulario">
		<fieldset><legend>Campos Cadastro de Perfil</legend> <h:outputLabel
			value="Nome do Perfil" for="nomeDoPerfil" /> <h:inputText
			value="#{editarPerfisMB.perfil.nome}" id="nomeDoPerfil"
			maxlength="80" required="true" alt="Nome do Perfil" rendered="true"
			requiredMessage="Campo Nome é obrigatório" /> <br />
		<h:outputLabel value="Descrição" for="descricao" /> <h:inputTextarea
			value="#{editarPerfisMB.perfil.descricao}" id="descricao"
			required="true" requiredMessage="Campo Descrição é obrigatório">
			<f:validateLength maximum="250" />
		</h:inputTextarea> <br />
		</fieldset>
		<fieldset><legend> Funcionalidades </legend> <rich:pickList
			id="funcionalidade"
			value="#{editarPerfisMB.funcionalidadesSelecionadas}"
			removeAllControlLabel="Remover Todos"
			removeControlLabel="Remover"
			copyAllControlLabel="Copiar Todos"
			copyControlLabel="Copiar" 
			>
			<f:selectItems value="#{editarPerfisMB.funcionalidades}" />
		</rich:pickList></fieldset>


	</ui:define>
	<ui:define name="camposOperacoes">
		<h:commandButton action="#{editarPerfisMB.salvar}" value="Salvar" />
		<h:commandButton action="#{editarPerfisMB.cancelar}" value="Cancelar"
			immediate="true" />

	</ui:define>
</ui:composition>

</html>