<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/templates/templateEditar.xhtml">
	<ui:define name="tituloPagina">Excluir Perfis</ui:define>
	<ui:define name="camposFormulario">
		<fieldset>
			<legend>Campos Formulário</legend>
			<h:outputLabel value="Nome do Perfil" for="nomeDoPerfil" />
			<h:inputText value="#{excluirPerfisMB.perfil.nome}" id="nomeDoPerfil" maxlength="80" readonly="true"  
			alt="Nome do Perfil" />
			<br/>
			<h:outputLabel value="Descrição" for="descricao" />
			<h:inputTextarea value="#{excluirPerfisMB.perfil.descricao}" id="descricao" readonly="true">
			<f:validateLength maximum="250"/> 
			</h:inputTextarea>
			<br/>
		</fieldset>
	</ui:define>
	<ui:define name="camposOperacoes">
		<h:commandButton action="#{excluirPerfisMB.excluir}" value="Excluir" />
		<h:commandButton action="listarPerfis" value="Cancelar" />
		
	</ui:define>
	</ui:composition>

</html>