<br/><br/>
<ul id="navegacao">
  <li>MÚSICAS</li>
  <li><a href="${resource(dir:'setlist')}">SETLISTS</a></li>
  <li>ARTISTAS</li>
  <li>DJS</li>
  <li>AS MAIS MAIS</li>
</ul>
<input type="text" name="chave" />
<input type="button" value="Pesquisar" />