<g:if test="${session.usuario}">
    <g:message code="saudacao.bemVindo" args="${[session?.usuario.nome]}"/>
    |
    <g:link controller="usuario" action="meusDados">Meus Dados</g:link>
    |
    <g:link controller="usuario" action="logout">Sair</g:link>
</g:if>

<g:else>
    <g:link controller="usuario" action="login">Logar</g:link>
</g:else>


	
	 
		 
	 
    