<p>
    NPJ Online - Desenvolvido pelo DESI (N&uacute;cleo de Desenvolvimento de Sistemas de Informa&ccedil;&atilde;o)
    <br/>
    Rua Alm. Maximiniano da Fonseca, 1395 - Eng. Luciano Cavalcante - CEP 60811 - 020
    <br/>
    Fortaleza - CE - Brasil - Fone: +55 85 4006-7600 - Fax: +55 85 4006-7614
</p>