 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/templateEditar.xhtml">

	<ui:define name="tituloPagina">
		Editar Cursos
	</ui:define>
	<ui:define name="camposFormulario">
		<fieldset>
		<legend>Campos do Curso</legend> <h:outputLabel
			for="nomeCurso">
				Nome do cursos*:
			 <h:inputText id="nomeCurso" value="#{editarCursosMB.cursoEditado.nome}" maxlength="80"
				required="true" alt="Nome do curso"
				requiredMessage="Campo nome deve ser informado com no máximo 80 caracteres"
				validatorMessage="Campo nome deve ser informado com no máximo 80 caracteres" />
		</h:outputLabel> <br />
		
		<h:outputLabel for="descricaoCurso">
				Descricao*:
			 <h:inputTextarea id="descricaoCurso" required="true" rows="3"
			    value="#{editarCursosMB.cursoEditado.descricao}"
				label="Este campo contem a descricao do curso" 
				requiredMessage="Campo descrição deve ser informado com no máximo 200 caracteres"
				validatorMessage="Campo descrição deve ser informado com no máximo 200 caracteres" 
				>
				<f:validateLength maximum="250" />
			</h:inputTextarea>
		</h:outputLabel> <br />
		
				
		</fieldset>
	</ui:define>
	<ui:define name="camposOperacoes">
		<h:commandButton action="#{editarCursosMB.salvar}" value="Salvar"/>
		<h:commandButton action="#{editarCursosMB.cancelar}" value="Cancelar"/>
	</ui:define>

</ui:composition>

</html>