<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/templateEditar.xhtml">

	<ui:define name="tituloPagina">
		Excluir Curso
	</ui:define>
	<ui:define name="camposFormulario">
		<fieldset><legend>Campos do Cursos</legend> <h:outputLabel
			for="nomeCurso">
				Nome do caso de uso:
			 <h:inputText id="nomeCurso" value="#{excluirCursosMB.cursoExcluido.nome}" maxlength="80"
				required="true" alt="Nome do curso" readonly="true"/>
		</h:outputLabel> <br />
		<h:outputLabel for="descricaoCurso">
				Descrição:
			 <h:inputTextarea id="descricaoCurso" required="true" rows="3"
			 value="#{excluirCursosMB.cursoExcluido.descricao}"
				label="Este campo contém a descrição do curso" readonly="true">
			</h:inputTextarea>
		</h:outputLabel> <br />
		<h:outputLabel for="listaComplexidade">
				
		</h:outputLabel>
		</fieldset>
	</ui:define>
	<ui:define name="camposOperacoes">
		<h:commandButton action="#{excluirCursosMB.excluir}" value="Excluir"/>
		<h:commandButton action="#{excluirCursosMB.cancelar}" value="Cancelar"/>
	</ui:define>

</ui:composition>

</html>